**SAY "HELLO WORLD!" WITH PYTHON**

In [1]:
print("Hello World!")

Hello World!

**PYTHON IF-ELSE**

**Task**

Given an integer,n, perform the following conditional actions:

If  is odd, print Weird

If  is even and in the inclusive range of 2 to 5, print Not Weird

If  is even and in the inclusive range of 6 to 20, print Weird

If  is even and greater than 20, print Not Weird

In [ ]:
n = int(input("Enter the integer: "))
if n%2 !=0:
  print("Weird")
else:
  if n in range(2,5):
    print("Not weird")
  if n in range(6,21):
    print("Weird")
  if n>20:
    print("Not weird")

**ARITHMETIC OPERATORS**

**TASK**

Input 2 numbers from the user and code to print three lines where:

The first line contains the sum of the two numbers.

The second line contains the difference of the two numbers (first - second).

The third line contains the product of the two numbers.

In [6]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print(f"The sum of {a} and {b} is {a+b}.")
print(f"The difference of {a} and {b} is {a-b}.")
print(f"The product of {a} and {b} is {a*b}.")

Enter the first number: 5
Enter the second number: 7
The sum of 5 and 7 is 12.
The difference of 5 and 7 is -2.
The product of 5 and 7 is 35.

**PYTHON DIVISION**

**TASK **

Input 2 numbers from the user .Add logic to print two lines.

 The first line should contain the result of integer division, a//b . The second line should contain the result of float division,  a/b .

In [7]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second nuber: "))
print(f"the result of integer division of {a} and {b} is {a//b}.")
print(f"The result of float division of {a} and {b} is {a/b}")

Enter the first number: 7
Enter the second nuber: 5
the result of integer division of 7 and 5 is 1.
The result of float division of 7 and 5 is 1.4

**LOOPS**

**TASK**

Input an integer n. For all the values of i <n, print i**2

In [8]:
n = int(input("Enter an integer greater than 0: "))
for _ in range(n):
  print(_**2)

Enter an integer greater than 0: 3
0
1
4

**WRITE A FUNCTIION**

**TASK**

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

**Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.**

In [10]:
def is_leap(year):
  if (year %4 == 0 and year %100 !=0) or (year %4 == 0 and year %400 ==0):
    return True
  else:
    return False

n = int(input("Enter the year: "))
print(is_leap(n))

Enter the year: 1800
False

**PRINT FUNCTION**

**TASK**

Without using any string methods, try to print the following:

123...n

In [23]:
n = int(input("Enter a number: "))
for i in range(1,n+1):
  print (i, end ="")
  # The end="" argument is used to override the default newline character and keep the numbers on the same line.
print()
#This line is included to print a newline character after the loop has completed. It ensures that the next output will start on a new line.

Enter a number: 9
123456789