**SETS**

**INTRODUCTION TO SETS**

A set is an unordered collection of elements without duplicate entries.
When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.

Basically, sets are used for membership testing and eliminating duplicate entries.

**Task**

Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

In [ ]:
def average(array):
 return round(sum(set(array))/len(set(array)),3)

n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

10
154 161 170 171 174 176 182
169.714

**symmetric difference**

**Task**

Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

In [ ]:
m = int(input())
m1 = set(map(int, input().split()))
n = int(input())
n1 = set(map(int, input().split()))
z = sorted(m1.symmetric_difference(n1))

for element in z:
    print(element)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

**set.add()**

If we want to add a single element to an existing set, we can use the .add() operation.

It adds the element to the set and returns 'None'.

**Task**

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N country stamps.

Find the total number of distinct country stamps.

In [ ]:
n=int(input("Enter the total number of country stamps: "))
s= set()
i=0
for i in range(n):
    s.add(input("Enter the name of the country: N"))
    i+1
print (len(s))

Enter the total number of country stamps: 7
Enter the name of the country: UK
Enter the name of the country: CHINA
Enter the name of the country: USA
Enter the name of the country: FRANCE
Enter the name of the country: EW ZEALAND
Enter the name of the country: UK
Enter the name of the country: FRANCE
5

**set.discard(), set.remove(), .pop()**

This operation removes element  from the set.
If element  does not exist, it raises a KeyError.
The .remove(x) operation returns None.

.discard(x)
This operation also removes element  from the set.
If element  does not exist, it does not raise a KeyError.
The .discard(x) operation returns None.

.pop()
This operation removes and return an arbitrary element from the set.
If there are no elements to remove, it raises a KeyError.

**Task**
You have a non-empty set , and you have to execute  commands given in  lines.

The commands will be pop, remove and discard.

In [ ]:
n = int(input("Enter the number of elements in the set: "))
s = set(map(int, input(f"Enter {n} elemnts: ").split()))
N = int(input("enter the number of commands: "))
for _ in range(N):
    command=input("enter 'pop', 'remove' or 'discard': ").split()

    if command[0]=="pop":
        s.pop()
    elif command[0]=="remove":
        s.remove(int(command[1]))
    elif command[0]=="discard":
        s.discard(int(command[1]))

print(sum(s))

Enter the number of elements in the set: 9
Enter 9 elemnts: 1 2 3 4 5 6  7 8 9
enter the number of commands: 10
enter 'pop', 'remove' or 'discard': pop
enter 'pop', 'remove' or 'discard': remove 9
enter 'pop', 'remove' or 'discard': discard 9
enter 'pop', 'remove' or 'discard': discard 8
enter 'pop', 'remove' or 'discard': remove 7
enter 'pop', 'remove' or 'discard': pop
enter 'pop', 'remove' or 'discard': discard 6
enter 'pop', 'remove' or 'discard': remove 5
enter 'pop', 'remove' or 'discard': pop
enter 'pop', 'remove' or 'discard': discard 5
4

**set.union()**

**Task**

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

In [ ]:
n = int(input())
N = set(map(int,input().split()))
m = int(input())
M = set(map(int,input().split()))
print(len(N.union(M)))

9
1 2 3  4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

**set.intersection() operation**

The .intersection() operator returns the intersection of a set and the set of elements in an iterable.

**Task**

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

In [ ]:
n = int(input())
N = set(map(int,input().split()))
m = int(input())
M = set(map(int,input().split()))
print(len(N.intersection(M)))

**set.difference() operation**

The tool .difference() returns a set with all the elements from the set that are not in an iterable.

**Task**

Students of District College have a subscription to English and French newspapers. Some students have subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

In [ ]:
n = int(input())
N = set(map(int,input().split()))
m = int(input())
M = set(map(int,input().split()))
print(len(N.difference(M)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

**SYMMETRIC DIFFERENCE**

The .symmetric_difference() operator returns a set with all the elements that are in the set and the iterable but not both.

Task
Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

In [ ]:
m = int(input())
m1 = set(map(int,input().split()))
n = int(input())
n1 = set(map(int,input().split()))
print(len(m1.symmetric_difference(n1)))

9
1 2 3 4 5  67 8 9
9
10 1 2 3 4 11 21 55 6 8
8

**CHECK SUBSET**

You are given two sets, A and B.
Your job is to find whether set A is a subset of set B .

In [ ]:
# Function to check if Set A is a subset of Set B
def is_subset(set_A, set_B):
    return set_A.issubset(set_B)

# Get the number of test cases
num_test_cases = int(input("Enter the number of test cases: "))

# Process each test case
for _ in range(num_test_cases):
    # Get the number of elements in Set A
    n_A = int(input("Enter the number of elements in Set A: "))

    # Get the elements of Set A
    set_A = set(input("Enter the elements of Set A, separated by spaces: ").split())

    # Get the number of elements in Set B
    n_B = int(input("Enter the number of elements in Set B: "))

    # Get the elements of Set B
    set_B = set(input("Enter the elements of Set B, separated by spaces: ").split())

    # Check if Set A is a subset of Set B and print the result
    print(is_subset(set_A, set_B))

Enter the number of test cases: 3
Enter the number of elements in Set A: 5
Enter the elements of Set A, separated by spaces: 1 2 3 5 6
Enter the number of elements in Set B: 9
Enter the elements of Set B, separated by spaces: 9 8 5 6 3 2 1 4 7
True
Enter the number of elements in Set A: 1
Enter the elements of Set A, separated by spaces: 2
Enter the number of elements in Set B: 5
Enter the elements of Set B, separated by spaces: 36541
False
Enter the number of elements in Set A: 3
Enter the elements of Set A, separated by spaces: 9 8 2
Enter the number of elements in Set B: 7
Enter the elements of Set B, separated by spaces: 1 2 3 5 6 8  9
True

**CHECK STRICT SUPERSET**

You are given a set A and  other n sets.
Your job is to find whether set A is a strict superset of each of the n sets.

Print True, if A is a strict superset of each of the n sets. Otherwise, print False.

A strict superset has at least one element that does not exist in its subset.

In [ ]:
a = set(map(int, input().split()))
n = int(input())
sets = []  # Create a list to store the sets

for _ in range(n):
    b = set(map(int, input().split()))
    sets.append(b)  # Add each set to the list

for b in sets:
    if not a.issuperset(b):
        print(False)
        break
else:
    print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

**SET MUTATIONS**

You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A.

Your task is to execute those operations and print the sum of elements from set A .

**Input Format**

The first line contains the number of elements in set A.

The second line contains the space separated list of elements in set A.

The third line contains integer N, the number of other sets.

The next  lines are divided into 2*N parts containing two lines each.

The first line of each part contains the space separated entries of the operation name and the length of the other set.

The second line of each part contains space separated list of elements in the other set.

In [ ]:
n = int(input())
s = set(map(int, input().split()))
num_operations = int(input())

for _ in range(num_operations):
    operation, length = input().split()
    other_set = set(map(int, input().split()))

    if operation == "intersection_update":
        s.intersection_update(other_set)
    elif operation == "update":
        s.update(other_set)
    elif operation == "symmetric_difference_update":
        s.symmetric_difference_update(other_set)
    elif operation == "difference_update":
        s.difference_update(other_set)

print(sum(s))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
 update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

**THE CAPTAIN'S ROOM**

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of K members per group where  K≠ 1.

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of K and the room number list.

In [ ]:
from collections import Counter
def find_captains_room(group_size, room_numbers):
    room_counts = Counter(room_numbers)
    for room, count in room_counts.items():
        if count == 1:
            return room

# Read input values
group_size = int(input())
room_numbers = list(map(int, input().split()))

# Find the Captain's room number
captains_room = find_captains_room(group_size, room_numbers)

# Print the Captain's room number
print(captains_room)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

**NO IDEA!**

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set  Aand dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i belongs to A, you add 1 to your happiness. If i belongs to B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

In [ ]:
n, m = map(int, input().split())
array = list(map(int, input().split()))
setA = set(map(int, input().split()))
setB = set(map(int, input().split()))

totalHappiness = 0

for x in array:
    if x in setA:
        totalHappiness += 1
    elif x in setB:
        totalHappiness -= 1

print(totalHappiness)

3 2
1 5 3
3 1
5 7
1